@CHARSET "UTF-8";
body {
	background-color: #FFFFFF;
	leftmargin: 0;
	topmargin: 0;
	marginwidth: 0;
	marginheight: 0;
}
.loginBtn{
	background-color: #a5e0ff;
	border:0px;
	font-family: "Adobe 黑体 Std R";
	font-size: 24px;
	font-weight: bold;
	color: #1d2088;
	width:303px;
	height:40px;
}
.userName{
	width: 245px;
  	height: 38px;
  	padding: 0;
  	border: 1px solid #ccc;
  	border-left-style: none;
}
.pwd{
	width: 245px;
  	height: 38px;
  	padding: 0;
  	border: 1px solid #ccc;
  	border-left-style: none;
}