body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"microsoft yahei",simsun,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	display:block;margin:0;padding:0}
mark{background:#ff0}.clearfix:after{visibility:hidden;display:block;content:"";clear:both;font-size:0;height:0}
.clearfix{zoom:1}
html{overflow:hidden}
body{background:#e9fafc;overflow:hidden}
.full-ico,.messages-ico,.menu-hd i,.centre-ico,.project-ico,.portal-ico,.notice-ico,.nav-on-off i{
	background:url("../images/backend.png") no-repeat}
.main{z-index:1;position:absolute;top:50px;right:0;bottom:0;left:0}
.header{z-index:5;position:absolute;left:0;right:0;height:50px;background:#e9fafc;*zoom:1}
<!--
	 .header .logo{float:left;width:199px;height:35px;padding:15px 0 0;text-align:center}
 -->
.header .menu{position:relative;float:left;display:inline;margin:0 -2px 0 0;*zoom:1}
.header .menu .menu-hd{position:relative;height:50px;line-height:50px;color:black;cursor:pointer}
.header .menu .menu-hd span{
	font:14px/1.5 tahoma,arial,"microsoft yahei",simsun,sans-serif;display:block;max-width:275px;height:50px;
	padding-top:5px;
	padding-right:15px;
	padding-bottom:5px;
	padding-left:50px;
	font-size:24px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.header .menu .menu-hd i{position:absolute;bottom:4px;right:6px;display:block;
	width:6px;height:6px;font-size:0;background-position:0 -45px}
.header .menu .menu-hd-next i{width:4px;height:8px;background-position:0 -140px}
.header .menu.menu-hover .menu-hd{background:#fff;color:#333}
.header .menu.menu-hover i{width:6px;height:6px;background-position:0 -45px}
.header .hd-l{position:absolute;top:0;left:0;}
.header .hd-r{z-index:10;position:relative;float:right;display:inline}
.header .hd-r-col{position:relative;float:left;display:inline;
		height:50px;line-height:50px;color:black;font-size:14px;overflow:hidden}
.header .hd-r-col a{color:#fff}
.header .hd-r-col:hover{text-decoration:none}
.header .hd-r-col span{font:14px/1.5 tahoma,arial,"microsoft yahei",simsun,sans-serif;
		display:block;height:50px;
		padding-top:0px;
		padding-left:700px;
		padding-left:0px;
		padding-bottom:0px;
		*zoom:1;
		margin-top:15px;
		}
.describe_comment{
	width:500px;
	height:100px;
}
.innovate_comment{
	width:300px;
	height:100px;	
}
.td7{
	padding-top:5px;
	padding-left:60px;
}
.td9{
	padding-top:5px;
	padding-left:48px;
	align:right;
}
.header .hd-r-col .r{position:absolute;top:6px;right:10px}
.header a.hd-r-col{cursor:pointer}
.header .full-ico,.header .messages-ico{float:left;width:16px;height:14px;margin:18px 0 0}
.header .messages-ico{background-position:0 -20px}
.header .r{display:block;width:16px;height:16px;font:400 12px/16px simsun;
	text-align:center;background:#f60;color:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;
	-o-border-radius:50%;border-radius:50%}
.nav{background:#e9fafc;z-index:101;position:absolute;top:0;bottom:0px;width:200px;min-height:300px;
	font:14px tahoma,arial,"microsoft yahei",simsun,sans-serif;
	}
.nav .item{cursor:pointer}
.nav .item .item-hd{position:relative;display:block;height:50px;line-height:50px;color:#848d98}
.nav .item .item-hd:hover{text-decoration:none}
.nav .item .item-hd i{margin:18px 10px 0 48px}
.nav .item .arrow{position:absolute;bottom:-6px;left:50px;display:none}
.nav .item:hover,.nav .item-active{background:#10aeb8}
.nav .item:hover .item-hd,.nav .item-active .item-hd{color:#fff}
.nav .item:hover .centre-ico,.nav .item-active .centre-ico{background-position:-66px 0}
.nav .item:hover .project-ico,.nav .item-active .project-ico{background-position:-66px -20px}
.nav .item:hover .portal-ico,.nav .item-active .portal-ico{background-position:-66px -80px}
.nav .item:hover .notice-ico,.nav .item-active .notice-ico{background-position:-66px -160px}
.nav .item:hover .platform-ico,.nav .item-active .platform-ico{background-position:-66px -180px}
.nav .item-active .arrow{display:block}
.nav .item-active .item-bd ul{display:list-item}
.nav .item-not-child .arrow{display:none}
.nav .item-bd ul{display:none;padding:10px 0 10px 75px;background:#2a2d34}
.nav .item-bd a{display:block;height:30px;line-height:30px;text-align:left;color:#8b9299;white-space:nowrap}
.nav .item-bd a:hover{color:#fff;text-decoration:none}
.nav .item-bd li.active a{font-weight:700;color:#fff}
.nav .item-bd li.active a .item-not-child .arrow{display:none}
.main-wrapper{position:absolute;top:0;left:200px;right:0;bottom:0;background:#fff;overflow:hidden;padding-bottom:0}
.main-wrapper iframe{position:absolute;width:100%;height:100%}
.arrow{display:block;width:0;height:0;line-height:0;border-width:6px 6px 0;border-style:solid dashed dashed;
	border-color:#10aeb8 transparent transparent}
.nav-on-off{position:absolute;bottom:0;left:150px;display:block;width:50px;height:50px}
.nav-on-off i{float:left;width:12px;height:12px;margin:18px 0 0 18px;background-position:0 -80px}
.nav-on-off:hover{text-decoration:none;background:#1a1c21}
.nav-on-off:hover .on-off-tip{display:block;-webkit-animation:shake .6s ease-in-out .3s;
	-moz-animation:shake .6s ease-in-out .3s;-o-animation:shake .6s ease-in-out .3s;-ms-animation:shake .6s ease-in-out .3s;
	-animation:shake .6s ease-in-out .3s}
.nav-on-off:hover .on-off-ico{background-position:0 -120px}
.on-off-tip{position:absolute;top:-45px;left:5px;display:none;width:40px;height:30px;line-height:30px;
	text-align:center;background:#0d0e10;color:#fff}
.on-off-tip ins{position:absolute;bottom:-5px;left:50%;display:block;width:0;height:0;line-height:0;
	margin:0 0 0 -6px;border-width:6px 6px 0;border-style:solid dashed dashed;border-color:#0d0e10 transparent transparent;
	text-decoration:none}
@media screen and (max-height:700px),screen and (max-width:1009px){.nav{width:50px}.nav .item .item-hd span{display:none}
.nav .item .item-hd i{margin:18px 0 0 18px}
.nav .item .item-bd{position:relative;height:0}
.nav .item:hover .item-bd{display:block}
.nav .item:hover .item-bd ul{display:list-item!important}
.nav .item-active .item-bd{display:none}
.nav .item-active .arrow,.nav .item:hover .arrow{display:none}
.nav .item-bd ul{position:absolute;left:50px;top:-50px;padding-left:0;white-space:nowrap;background:#0b9ba4}
.nav .item-bd a{padding:0 20px;color:#b6e0e4;text-indent:0}
.nav .item-bd a:hover{color:#fff}
.nav-on-off{left:0;display:none}
.nav-on-off .on-off-ico{background-position:0 -60px}
.nav-on-off:hover .on-off-ico{background-position:0 -100px}
.main-wrapper{left:50px}}.main-s .nav{width:50px}
.main-s .nav .item .item-hd span{display:none}
.main-s .nav .item .item-hd i{margin:18px 0 0 18px}
.main-s .nav .item .item-bd{position:relative;height:0}
.main-s .nav .item:hover .item-bd{display:block}
.main-s .nav .item:hover .item-bd ul{display:list-item!important}
.main-s .nav .item-active .item-bd{display:none}
.main-s .nav .item-active .arrow,.main-s .nav .item:hover .arrow{display:none}
.main-s .nav .item-bd ul{position:absolute;left:50px;top:-50px;padding-left:0;white-space:nowrap;background:#0b9ba4}
.main-s .nav .item-bd a{padding:0 20px;color:#b6e0e4;text-indent:0}
.main-s .nav .item-bd a:hover{color:#fff}
.main-s .nav-on-off{left:0}
.main-s .nav-on-off .nav-on-off{background-position:0 -60px}
.main-s .nav-on-off:hover .on-off-ico{background-position:0 -100px}
.main-s .main-wrapper{left:50px}
.main-s-disabled .nav-on-off{display:none}
@-webkit-keyframes shake{0%,20%,40%,46%,80%,100%{top:-45px}10%,50%,90%{top:-43px}30%,70%{top:-47px}}
@-moz-keyframes shake{0%,20%,40%,46%,80%,100%{top:-45px}10%,50%,90%{top:-43px}30%,70%{top:-47px}}
@-o-keyframes shake{0%,20%,40%,46%,80%,100%{top:-45px}10%,50%,90%{top:-43px}30%,70%{top:-47px}}
@-ms-keyframes shake{0%,20%,40%,46%,80%,100%{top:-45px}10%,50%,90%{top:-43px}30%,70%{top:-47px}}
@keyframes shake{0%,20%,40%,46%,80%,100%{top:-45px}10%,50%,90%{top:-43px}30%,70%{top:-47px}}
.centre-ico,.project-ico,.portal-ico,.notice-ico{float:left;display:inline;width:16px;height:16px;vertical-align:middle}
.centre-ico{background-position:-40px 0}
.project-ico{background-position:-40px -20px}
.portal-ico{background-position:-40px -80px}
.notice-ico{background-position:-40px -160px}
